
body { margin:0; padding:70px; }

#mapbox-panel {
	left: 50%;
	position: fixed;
}
#mapbox-panel .chart-title {
	border: medium none;
}
#mapbox-panel .chart-stage {
	height: 600px;
}
#map {
	bottom: 0;
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}
.chart-wrapper{
	background: rgba(255, 247, 188, 0.11);
}
.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(231, 155, 224, 0.8);
	color: rgba( 156, 0, 51, 1);
	border-radius: 2px;
	font-family: muliregular;
	line-height: 20px;
	opacity: 0.8;
}

.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
	opacity: 0.8;
}

.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
	opacity: 0.8;
}

#home_page_logo{
	  position: absolute;
	 top:-0.25px;
	/*width:100px;*/
	height:40px;
}